<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HELLO</title>
</head>
<body>
<h1>HELLO</h1>
<a th:href="@{/annotation/cookie}">cookie</a>
<a th:href="@{/annotation/basecookie}">basecookie</a>
<a th:href="@{/annotation/header}">header</a>
<a th:href="@{/file}">fileTest</a>
<p>MD5</p>
<form th:action="@{/md5/springMd5}" method="post">
    KEY：<input type="text" name="str"><br>
    
    <input type="submit" value="修改"><br>
</form>


<p>rest</p>
<a th:href="@{/employee}">查看员工信息</a>
</body>
</html>